includes:
        - vendor/phpstan/phpstan-deprecation-rules/rules.neon
        - vendor/phpstan/phpstan-strict-rules/rules.neon
        - vendor/phpstan/phpstan-phpunit/extension.neon
        - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    excludePaths:
        - vendor
    scanFiles:
        - vendor/mautic/core-lib/config/config_test.php
    ignoreErrors:
        - message: "#has parameter \\$metadata with generic class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadata#"
          count: 1
          path: Entity/CompanySegment.php

